/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

/* Global Variables */
:root {
  --sideBGColor: #040b14;
  --themeColor: #924e7d;
  --iconBGColor: #2c2f3f;
  --textColor: #525252;
  --bgColor: #f7f7f7;
}

/* === HEADER START === */
header {
  height: 100vh;
  width: 300px;
  padding: 15px 30px;
  background-color: var(--sideBGColor);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 99;
}
header .profile {
  text-align: center;
  margin-bottom: 10px 0;
}
header .profile img {
  width: 150px;
  border-radius: 50%;
  border: 10px solid var(--iconBGColor);
}
header .profile h1 {
  color: white;
  font-size: 600;
}
header .profile .social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  background-color: var(--iconBGColor);
  color: white;
  font-size: 18px;
  margin: 1.5px;
  transition: 0.4s;
}
header .profile .social-icons a:hover {
  background-color: var(--themeColor);
}

/* === NAVIGATION === */
header nav {
  margin-top: 30px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  margin: 7px 0;
  color: lightgrey;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.6px;
}
header nav ul li a i {
  margin-right: 10px;
  font-size: 20px;
  transition: 0.4s;
}
header nav ul li a:hover i {
  color: var(--themeColor);
}
header nav ul li .active i {
  color: var(--themeColor);
}

/* === FOOTER === */
header .footer {
  text-align: center;
  background-color: var(--sizeBGColor);
  width: 300px;
  color: lightgrey;
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
header .footer p a {
  color: var(--themeColor);
}

/* === MOBILE NAV TOGGLE === */
#MenuBtn {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: var(--themeColor);
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  display: none;
  z-index: 999;
}

/* === MOBILE VIEW === */
@media only screen and (max-width: 1050px) {
  header {
    left: -300px;
  }
  header .footer {
    left: -300px;
  }
  #MenuBtn {
    display: block;
  }
}

/* === HEADER TOGGLE === */
.mobile-nav-active header {
  left: 0;
}
.mobile-nav-active header .footer {
  left: 0;
}

/* === HEADER END === */

/* === MAIN SECTION === */
main {
  margin-left: 300px;
  background-color: var(--bgColor);
  transition: 0.3s;
}
@media only screen and (max-width: 1050px) {
  main {
    margin-left: 0;
  }
}

/* === HOME SECTION === */
#home {
  height: 100vh;
  width: 100%;
  background-image: url(Image_for_web/images/backG2.avif);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  position: relative;
}
/* overlay */
#home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.431);
  position: absolute;
  top: 0;
  left: 0;
}
#home .home-row {
  z-index: 1;
}
#home .home-row h1 {
  font-size: 60px;
  color: white;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 70px;
}
#home .home-row h1 span {
  color: var(--themeColor);
}
#home .home-row p {
  color: white;
  font-size: 30px;
  font-weight: 500;
}
#home .home-row p span {
  border-bottom: 4px solid var(--themeColor);
}

/* === MOBILE VIEW === */
@media only screen and (max-width: 670px) {
  #home {
    padding: 30px;
  }
  #home .home-row h1 {
    font-size: 35px;
    letter-spacing: 0;
    line-height: 50px;
  }
  #home .home-row h1 br {
    display: none;
  }
  #home .home-row p {
    font-size: 20px;
    font-weight: 400;
  }
}

/* === ABOUT SECTION === */
#about {
  padding: 70px 30px;
}
/* Global heading*/
.sub-heading {
  color: #040b14;
  font-size: 30px;
  margin-bottom: 10px;
}
.divider {
  width: 80px;
  height: 4px;
  background-color: var(--themeColor);
  border-radius: 3px;
}
#about .divider ~ p {
  color: var(--textColor);
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-top: 15px;
}
#about .about-col {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
#about .about-col .img-col {
  flex-basis: 35%;
  text-align: center;
}
#about .about-col .img-col img {
  width: 100%;
}
#about .about-col .info-col {
  flex-basis: 70%;
}
#about .about-col .info-col h2 {
  color: var(--themeColor);
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0.5px;
  margin-top: -10px;
}
#about .about-col .info-col p {
  color: var(--textColor);
  font-size: 15px;
  letter-spacing: 0.5px;
  font-style: italic;
}
#about .about-col .info-col .icon-list-col {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}
